<div class="service-area">
    <div class="container">
        <div class="page-header">
            <h1>Our Service</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-envira" aria-hidden="true"></i> &nbsp; Financial Service</h3>
                        <a class="pull-right" data-toggle="collapse" href="#collapse-1">
                            <i class="fa fa-th-large"></i>
                            </a>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <p class="panel-body">Our financial solutions are designed personally to suit for each client. All our financial consultants 
                            assist our clients to choose and find the best financial products by researching and analyzing the 
                            various options provided by numerous financial institutes.</p>
                    </div>
                </div>
            </div>

           <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-pagelines" aria-hidden="true"></i> &nbsp; Legal Service</h3>
                        <a class="pull-right" data-toggle="collapse" href="#collapse-2">
                            <i class="fa fa-th-large"></i>
                            </a>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse">
                        <p class="panel-body">Our legal department is set especially for our clients to help them 
                            with any relative legal issues such as reviewing contracts. All our solicitors devote themselves 
                            to act for the best interest of every client fairly, competently and diligently.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-forumbee" aria-hidden="true"></i> &nbsp; Assets Optimization</h3>
                        <a class="pull-right" data-toggle="collapse" href="#collapse-3">
                            <i class="fa fa-th-large"></i>
                            </a>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse">
                        <p class="panel-body">Clarify your investment goals with us, using the latest AMC software to 
                            analysis your portfolio. A geographically diverse portfolio reduces risk and maximizes profitability.</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>