<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Our Clients</h1>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr />
            <div class="carousel flexslider">
                <ul class="slides">
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                    <li><img src="../../assets/imgs/client.jpg" /></li>
                </ul>
            </div>
            <hr />
            <br />
        </div>
    </div>
</div>