<div class="team" id="team">
    <div class="container">
        <h1 class="title"> Our Team</h1>
        <div class="team-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-gd">
                <div class="team-pos">
                  <div class="team-back"></div>
                  <img class="img-responsive" src="../../assets/imgs/team/t1.jpg" alt="" />
                  <div class="team-info">
                      <a href="#" class="face-one"><i class="fa fa-facebook fc1" aria-hidden="true"></i></a>
                      <a href="#" class="face-one"><i class="fa fa-twitter fc2" aria-hidden="true"></i></a>
                      <a herf="#" class="face-one"><i class="fa fa-google fc3" aria-hidden="true"></i></a>
                  </div>
                </div>
                <h4>Victoria</h4>
                <p>Advanced Consultant</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-gd">
                <div class="team-pos">
                  <div class="team-back"></div>
                  <img class="img-responsive" src="../../assets/imgs/team/t2.jpg" alt="" />
                  <div class="team-info">
                      <a href="#" class="face-one"><i class="fa fa-facebook fc1" aria-hidden="true"></i></a>
                      <a href="#" class="face-one"><i class="fa fa-twitter fc2" aria-hidden="true"></i></a>
                      <a herf="#" class="face-one"><i class="fa fa-google fc3" aria-hidden="true"></i></a>
                  </div>
                </div>
                <h4>Patrick</h4>
                <p>Sales Manager</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-gd">
                <div class="team-pos">
                  <div class="team-back"></div>
                  <img class="img-responsive" src="../../assets/imgs/team/t3.jpg" alt="" />
                  <div class="team-info">
                      <a href="#" class="face-one"><i class="fa fa-facebook fc1" aria-hidden="true"></i></a>
                      <a href="#" class="face-one"><i class="fa fa-twitter fc2" aria-hidden="true"></i></a>
                      <a herf="#" class="face-one"><i class="fa fa-google fc3" aria-hidden="true"></i></a>
                  </div>
                </div>
                <h4>Thompson</h4>
                <p>Project Manager</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 team-gd">
                <div class="team-pos">
                  <div class="team-back"></div>
                  <img class="img-responsive" src="../../assets/imgs/team/t4.jpg" alt="" />
                  <div class="team-info">
                      <a href="#" class="face-one"><i class="fa fa-facebook fc1" aria-hidden="true"></i></a>
                      <a href="#" class="face-one"><i class="fa fa-twitter fc2" aria-hidden="true"></i></a>
                      <a herf="#" class="face-one"><i class="fa fa-google fc3" aria-hidden="true"></i></a>
                  </div>
                </div>
                <h4>Melina</h4>
                <p>Legal Consaltant</p>
            </div>


    </div>
</div>