<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="head-line">OUR PROJECTS</h1>
            </div>
        </div>
    </div>


<div class="container" >
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/ashfield.jpg" class="img-responsive" alt="Ashfield">
            </a>
            <div class="portfolio-caption">
                <h4>Ashfield</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/eppingpark.jpg" class="img-responsive" alt="Epping">
            </a>
            <div class="portfolio-caption">
                <h4>Epping Park</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/glebe.jpg" class="img-responsive" alt="Glebe">
            </a>
            <div class="portfolio-caption">
                <h4>Glebe</h4>
            </div>
        </div>

    </div>   
<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/lewisham.jpg" class="img-responsive" alt="Lewisham">
            </a>
            <div class="portfolio-caption">
                <h4>Lewisham</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/macquariepark.jpg" class="img-responsive" alt="Macquarie Park">
            </a>
            <div class="portfolio-caption">
                <h4>Macquarie Park</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/mascot.jpg" class="img-responsive" alt="Mascot">
            </a>
            <div class="portfolio-caption">
                <h4>Mascot</h4>
            </div>
        </div>

    </div>         
<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/northsydney.jpg" class="img-responsive" alt="North Sydney">
            </a>
            <div class="portfolio-caption">
                <h4>North Sydney</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/parramatta.jpg" class="img-responsive" alt="Parramatta">
            </a>
            <div class="portfolio-caption">
                <h4>Parramatta</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/rhodes.jpg" class="img-responsive" alt="Rhodes">
            </a>
            <div class="portfolio-caption">
                <h4>Rhodes</h4>
            </div>
        </div>

    </div>     
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/rosebery.jpg" class="img-responsive" alt="Rosebery">
            </a>
            <div class="portfolio-caption">
                <h4>Rosebery</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/stives.jpg" class="img-responsive" alt="st Ives">
            </a>
            <div class="portfolio-caption">
                <h4>st Ives</h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 portfolio-item">
            <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="../../assets/imgs/projects/waterloo.jpg" class="img-responsive" alt="Waterloo">
            </a>
            <div class="portfolio-caption">
                <h4>Waterloo</h4>
            </div>
        </div>

    </div>              

</div>


            
<!-- Portfolio Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Ashfield</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/ashfield.jpg" alt="Ashfield" />
                <p>Ashfield is a suburb in the Inner West of Sydney, in the state of New South Wales, Australia. Ashfield is about 9 kilometres south-west of the Sydney central business district and is the administrative centre for the local government area of the Municipality of Ashfield. 
                    The official name for the Ashfield Local Government Area was changed to Ashfield Council in November 2011. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div>   

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Epping</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/eppingpark.jpg" alt="Epping" />
                <p>Epping is a suburb of Sydney, in the state of New South Wales, 
                    Australia 18 kilometres north-west of the Sydney central business district in the local government 
                    areas of the City of Parramatta and Hornsby Shire. It is in the Northern Suburbs. </p>

                <p>Epping features a shopping centre close to Epping railway station.
                     The centre includes a large Coles supermarket on Rawson Street, 
                     and a large number of small businesses including newsagencies, pharmacies, 
                     Asian grocers and many restaurants. Other commercial and light industrial developments 
                     are also located in the surrounding area. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Glebe</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/glebe.jpg" alt="Glebe" />
                <p>Glebe is an inner-city suburb of Sydney. Glebe is located 3 km south-west of the Sydney central business 
                    district and is part of the local government area of the City of Sydney. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Lewisham</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/lewisham.jpg" alt="Lewisham" />
                <p>Lewisham is a suburb in the Inner West of Sydney, in the state of New South Wales, Australia.
                     Lewisham is located 8 kilometres south-west of the Sydney central business district, 
                     in the local government area of Marrickville Council. The postcode is 2049. Lewisham 
                     is surrounded by the suburbs of Petersham, Dulwich Hill, Summer Hill, Haberfield and Leichhardt. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Macquarie Park</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/macquariepark.jpg" alt="Macquarie Park" />
                <p>Macquarie Park is a suburb in northern Sydney, New South Wales, Australia. 
                    Macquarie Park is located 12 kilometres north-west of the Sydney central business 
                    district in the local government area of the City of Ryde. Macquarie Park is part 
                    of the Northern Suburbs region and it is one of the most important business and education 
                    hubs in Sydney. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Mascot</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/mascot.jpg" alt="Mascot" />
                <p>Mascot is a suburb of Sydney, in the state of New South Wales, Australia. 
                    Mascot is located 7 kilometres south of the Sydney central business district 
                    and is the administrative centre of the City of Botany Bay. Mascot is on the
                     north-west side of Botany Bay and contains Sydney Airport.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>North Sydney</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/northsydney.jpg" alt="North Sydney" />
                <p>North Sydney is a suburb and commercial district on the Lower North Shore of Sydney, New South Wales, Australia. 
                    North Sydney is located 3 kilometres north of the Sydney central business district and is the administrative
                     centre for the local government area of North Sydney Council. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Parramatta</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/parramatta.jpg" alt="Parramatta" />
                <p>Parramatta is a suburb and major business district in the metropolitan area of Sydney, Australia.
                     It is located in Greater Western Sydney 23 kilometres (14 mi) west of the Sydney central business
                      district on the banks of the Parramatta River. Parramatta is the administrative seat of the local
                       government area of the City of Parramatta. It is also acknowledged on the register of the
                        Geographical Names Board of New South Wales as one of only four cities within the Sydney
                         metropolitan area. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Rhodes</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/rhodes.jpg" alt="Rhodes" />
                <p>Rhodes is a new highly developed suburb located in the centre of Sydney which is only 20 minutes distance from the city CBD.
                     Rhodes is one of the specialised centres which perform extremely vital economic and employment roles across Sydney. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Rosebery</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/rosebery.jpg" alt="Rosebery" />
                <p>Rosebery is an inner city suburb of Sydney, in the state of New South Wales, Australia.
                     It is 6 kilometres south of the Sydney central business district and is part of the local 
                     government area of the City of Sydney. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>St Ives</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/stives.jpg" alt="st Ives" />
                <p>St Ives is a suburb on the Upper North Shore of Sydney in the state of New South Wales, Australia.
                     18 kilometres north of the Sydney Central Business District in the local government area of Ku-ring-gai Council. 
                     St Ives Chase is a separate suburb, to the north. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div> 

<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                    
                <h2>Waterloo</h2>
                <img class="img-responsive img-centered" src="../../assets/imgs/projects/waterloo.jpg" alt="Waterloo" />
                <p>Waterloo is located minutes from Sydney’s CBD in a leafy inner city suburb.
                     Comprising of 184 fully self contained furnished apartments with studio, one, two and three bedroom configurations,
                      nicely nestled amongst the residential precinct know as Crown Square. The property is just minutes from the trendy 
                      Danks Street cafes, restaurants, markets and the popular Hillsong Church. </p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp; Close Project</button>                      
        </div>
    </div>
</div>    
        
</div>          
       

        
