<nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar-collapse">
				<span class="sr-only">Toggle navigation</span> Menu
				<i class="fa fa-bars"></i>
			</button>
			<a routerLink="home" class="navbar-brand">AAA REALTY</a>
		</div>
	
		<div class="collapse navbar-collapse" id="my-navbar-collapse" aria-expanded="false">
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="home">HOME</a></li>
				<li><a routerLink="projects">PROJECTS</a></li>
				<li><a routerLink="aboutus">ABOUT US</a></li>
				<li><a routerLink="contactus">CONTACT US</a></li>
			</ul>
		</div>
	</div>
</nav>


<router-outlet></router-outlet>


<my-footer></my-footer>


 