<div class="container">
    <div class="pad-set">
    <h1>Our Core Value</h1>
    <div class="row">
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="creative-txt">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <span class="fa-stack fa-lg fa-4x">
                        <i class="fa fa-circle fa-stack-2x black"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse yellow"></i>
                    </span>
                    <p class="label-txt">Dependable</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <span class="fa-stack fa-lg fa-4x">
                        <i class="fa fa-circle fa-stack-2x yellow"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse black"></i>
                    </span>
                    <p class="label-txt">Reliable</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <span class="fa-stack fa-lg fa-4x">
                        <i class="fa fa-circle fa-stack-2x black"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse yellow"></i>
                    </span>
                    <p class="label-txt">Efficient</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <span class="fa-stack fa-lg fa-4x">
                        <i class="fa fa-circle fa-stack-2x yellow"></i>
                        <i class="fa fa-fighter-jet fa-stack-1x fa-inverse black"></i>
                    </span>
                    <p class="label-txt">Motivated</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <span class="fa-stack fa-lg fa-4x">
                        <i class="fa fa-circle fa-stack-2x black"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse yellow"></i>
                    </span>
                    <p class="label-txt">Respectful</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <span class="fa-stack fa-lg fa-4x">
                        <i class="fa fa-circle fa-stack-2x yellow"></i>
                        <i class="fa fa-gavel fa-stack-1x fa-inverse black"></i>
                    </span>
                    <p class="label-txt">Passionate</p>
                </div>
            </div>
            </div>
        </div>

         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <div class="creative-txt">
                <br />
             <iframe class="vedio-style" 
             src="https://www.youtube.com/embed/L9phOVY1GoE?showinfo=0" showinfo=0></iframe>   
                <br />
            </div>
        </div>
    </div>
</div>
</div>