#slideshow {
    margin-top: 50px;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.carousel-control-arrow {
    position: relative;
    line-height: 100%;
    font-size: 64px;
    margin-top: -32px;
    top: 50%;
}

.cap{
    font-family: "Kaushan Script",  Helvetica, Arial, cursive;
    color: #F9BF3B;
}