<div class="popular-area-div">
	<div class="container">
		<div class="page-header" >
			<h1 class="text-center">POPULAR AREA</h1>
		</div>

<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="../../assets/imgs/chatswood.jpg" />
				<div class="overlay">
					<h2>Chatswood</h2>
				</div>
			</div>
		</div>


		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="../../assets/imgs/zetland.jpg"  />
				<div class="overlay">
					<h2>Zetland</h2>
				</div>
			</div>
		</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="../../assets/imgs/kensington.jpg"  />
				<div class="overlay">
					<h2>Kensington</h2>
				</div>
			</div>
		</div>

	</div>
</div>
</div>