<div class="footer-sec">
    <div class="container">
            <ul class="social-icons">
                <li><a href=""><span class="fa fa-facebook-square fa-2x"></span></a></li>
                <li><a href=""><span class="fa fa-linkedin-square fa-2x"></span></a></li>
                <li><a href=""><span class="fa fa-twitter-square fa-2x"></span></a></li>
                <li><a href=""><span class="fa fa-google-plus-square fa-2x"></span></a></li>
            </ul>
            <hr style="border:0; background-color: #F9BF3B; height:1px;">
            <div style="text-align: right; padding: 5px;">
                    &copy; EmmaG 2017
            </div>
            
    </div> 
</div>